body, html {
    width: 100%;
    height: 100%;
    margin:0px;
    font-family:"微软雅黑";
    padding: 0px;
}

#allmap{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

p{
    margin-left:5px;
    font-size:14px;
}

#comment{
    z-index: 999;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 66px;
    background-color: white;
    text-align: center;
}

#comment-text{
    margin-left: 10px;
    margin-top: 17px;
    margin-bottom: 17px;
    height: 30px;
    border: 1px solid #d8d8d8;
    width: 65%;
    border-radius: 10px;
    margin-right: 10px
}

#do-comment-reply{
    margin-left: 10px;
    margin-top:23px;
    margin-bottom: 17px;
    height: 30px;
    border: 1px solid #fac6c6;
    width: 65%;
    border-radius: 10px;
    margin-right: 10px;
}

#comment-button {
    background-color: #d8d8d8;
    border-radius: 10px;
    width: 65px;
    height: 32px;
    color: white;
    font-size: 17px;
    font-family: PingFangSC-Regular;
    border: none;
    margin-right: 10px;
}

.title-bar{
    background-color: #334a5d;
    width: 100%;
    z-index: 9999;
    position: absolute;
    height: 45px;
    top: 0px;
    text-align: center;
    line-height:45px;
}

.title-x{
    margin-left: 16px;
    width: 16px;
    height: 16px;
    color :white;
    float: left;
}

.title-text{
    color: white;
    font-size: 17px;
}

.share{
    width: 16px;
    height: 16px;
    float: right;
    margin-right:16px;
    margin-top: 2px;
}
#comment-detail{
    background: white;
    width: 100%;
    z-index: 9999;
    position: absolute;
    bottom: 0px;
}
.comment1{
    font-size:15px;
    color:#f69090;
    margin-left: 10px;
    margin-right: 10px;
}

.close-replys{
    margin-right: 10px;
    width: 32px;
    height: 32px;
    color:#f69090;
    float: right;
}
.line1{
    margin-top:11px;
    border: 1px dashed #f69090;
}

.line2{

    margin-top:25px;
    border: 1px dashed #f69090;
}

.comment_replys{
    font-size:12px;
    color:#999999;
    text-align: left;
    margin-top: 23px;
    padding-left: 10px;
    padding-right: 10px;
}

.container {
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
}


#reply-submit-button{
    background-color: #fac6c6;
    border-radius: 10px;
    width: 65px;
    height: 32px;
    color: white;
    opacity: 0.51;
    font-size: 15px;
    font-family: PingFangSC-Regular;
    border: none;
}

.comment-list {
    height: 123px;
    overflow-y: auto;
}

.refresh-icon {
    background: url("./images/icon_shuaxin@1x.png");
    height:26px;
    width:26px;
    right: 15px;
    position: absolute;
    z-index: 9999;
    top: 60px;
}
